<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
        <header>
            <div class="navContainer">
                <div class="appName"><a href="/home"><%=appName%></a></div>
                <div><%-include("partials/header.ejs")-%></div>
            </div>
        </header>
        <main>
            <form action="/products/add-product" method="post">
                <label for="name" class="labelContainer loginInput">
                    Product Name
                    <input
                        type="text"
                        id="name"
                        name="name"
                        placeholder="Product name"
                        class="inputField"
                        required
                    />
                </label>
                <label for="description" class="labelContainer loginInput">
                    Product Description
                    <textarea name="description" id="description" cols="30" rows="10" class="inputField" placeholder="Write your product description here" required></textarea>
                </label>
                <label for="price" class="labelContainer loginInput">
                    Product Price
                    <input
                        type="number"
                        id="price"
                        name="price"
                        placeholder="Price of Product"
                        class="inputField"
                        required
                    />
                </label>
                <label for="product_image" class="labelContainer loginInput">
                    Product Image URL
                    <input
                        type="text"
                        id="product_image"
                        name="product_image"
                        placeholder="Product Image Link"
                        class="inputField"
                        required
                    />
                </label>
                <label for="stock_level" class="labelContainer loginInput">
                    Product Stock Level
                    <input
                        type="number"
                        id="stock_level"
                        name="stock_level"
                        placeholder="Product stock level"
                        class="inputField"
                        required
                    />
                </label>
                <div id="variations">
                    <p>Variations</p>
                    <div class="variation">
                        <label for="size" class="labelContainer loginInput">
                            Product Size
                            <input
                                type="text"
                                name="variations[0][size]"
                                placeholder="Product Size"
                                class="inputField"
                                required
                            />
                        </label>
                        <label for="color" class="labelContainer loginInput">
                            Product Color
                            <input
                                type="text"
                                name="variations[0][color]"
                                placeholder="Product Color"
                                class="inputField"
                                required
                            />
                        </label>
                        <label for="additionalDetails" class="labelContainer loginInput">
                            Product Additional Details
                            <input
                                type="text"
                                name="variations[0][additionalDetails]"
                                placeholder="Product other details"
                                class="inputField"
                                required
                            />
                        </label>
                    </div>
                </div>
                <div>
                    <button type="submit">
                        Add Product
                    </button>
                </div>
            </form>
        </main>
    </div>
  </body>
</html>
