<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="overall">
        <div class="navLine">
			<div class="topNavContainer">
				<div class="navFlex">
					<div class="navIcons">
						<a href="">
							<img src="../public/assets/back_icon.png" alt="Back Icon">
						</a>
						<span class="tooltip">Shipping Info</span>
					</div>
					<div class="navHeading">
						<h1 class="navHead">Checkout</h1>
					</div>
					<div class="navIcons"></div>
				</div>
			</div>
		</div>
        <main>
            <section>
                <div>
                    <div>
                        <p>My Order</p>
                    </div>
                    <div><p class="orderTotalPrice"></p></div>
                </div>
                <div>
                    <div>
                        <div class="allOrderProdInfo"></div>
                        <div class="totalPriceCount"></div>
                    </div>
                    <div>
                        <div><p>Delivery</p></div>
                        <div><p>Free</p></div>
                    </div>
                </div>
            </section>
            <section>
                <div><p>Shipping & Payment Info</p></div>
                <div>
                    <div>
                        <div class="buyerName"><p></p></div>
                        <div class="shippingAddress"><p></p></div>
                        <div class="cardNumber"></div>
                    </div>
                </div>
            </section>
            <div>
                <div class="formButton">
                    <button type="submit" class="formSubmitButton formInput">Confirm Order</button>
                </div>
            </div>
        </main>
    </div>
  </body>
</html>
