<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../public/style.css" />
    <title>Document</title>
</head>
<body>
	<div class="overall">
		<div class="navLine">
			<div class="topNavContainer">
				<div class="navFlex">
					<div class="navIcons">
						<a href="/home">
							<img src="../public/assets/back_icon.png" alt="Back Icon">
						</a>
						<span class="tooltip">Home</span>
					</div>
					<div class="navHeading">
						<h1 class="navHead">Admin Login</h1>
					</div>
					<div class="navIcons">
						<a href="/products">
							<img src="../public/assets/products_icon.png" alt=" Products Icon">
						</a>
						<span class="tooltip">Products</span>
					</div>
				</div>
			</div>
		</div>
		<div class="formOverall">
			<div class="formCenter">
				<div class="formContainerFlex">
					<div class="formTop">
						<div class="formLine"></div>
						<div class="formHeading">
							<h1 class="formHead">Welcome Back!</h1>
						</div>
						<div class="formSubContext">
							<p class="formSubhead">
								<em>
									Admin Access Only: Log in is restricted to registered admins. You can explore our products as a guest without logging in.
								</em>
							</p>
						</div>
					</div>
					<form action="/admin/login" method="post" class="FormInputContainer">
						<label for="email" class="labelContainer formInput">
							EMAIL
							<input
								type="email"
								id="email"
								name="email"
								placeholder="synergysneaks@mail.com"
								class="inputField"
								required
							/>
						</label>
						<label for="password" class="labelContainer formInput">
							PASSWORD
							<input
								type="password"
								id="password"
								name="password"
								placeholder="Password"
								class="inputField"
								required
							/>
						</label>
						<div class="formButton">
							<button type="submit" class="formSubmitButton formInput">Sign In</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>