<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="overall">
        <div>
            <div>
                <div>
                    <img src="" alt="">
                </div>
                <div></div>
                <div><p>Thank You For Your Order!</p></div>
                <div><p>Your order will be delivered on time</p></div>
                <div><p>Thank You!</p></div>
            </div>
        </div>
        <div>
            <div>
                <div class="formButton">
                    <a href="">
                        <button type="submit" class="formSubmitButton formInput">View Orders</button>
                    </a>
                </div>
                <div class="formButton">
                    <a href="">
                        <button type="submit" class="formSubmitButton formInput">Continue Shopping</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
  </body>
</html>
