<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="overall">
        <div class="navLine">
            <div class="topNavContainer">
                <div class="navFlex">
                    <div class="navIcons">
                        <a href="">
                            <img src="../public/assets/back_icon.png" alt="Back Icon">
                        </a>
                        <span class="tooltip">Products</span>
                    </div>
                    <div class="navHeading">
                        <h1 class="navHead">OrderHistory</h1>
                    </div>
                    <div class="navIcons"></div>
                </div>
            </div>
        </div>
        <main>
            <div>
                <div>
                    <div class="orderStatusContainer">
                        <div class="orderTicket"></div>
                        <div class="orderStatus"></div>
                    </div>
                </div>
                <div>
                    <div class="orderDateContainer">
                        <div class="orderDateTime"></div>
                        <div class="orderTotalAmount"></div>
                    </div>
                </div>
            </div>
        </main>
    </div>
  </body>
</html>
